* {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  body{
    background-color: #252222;
  }
  
  h1{
    text-align: center; 
    color: white;
  }
  
  h2{
    color: #6c2828;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    border-radius: 2px;
    background-color: white;
    size: 10%;
  }
  
  .header a {
    text-decoration: none;
    color: #6c2828;
  }
  
  .header >a:hover{
    background-color:  #6c2828;
    color: white;
    border-radius: 4px;
  }
  
  
  .section1 {
    border-radius: 3px;
    size: flex;
    background-color: white;
    padding: 5px;
  }
  
  .section2 {
    border-radius: 3px;
    size: flex;
    background-color: white;
    padding: 5px;
  }
  
  .section3 {
    border-radius: 3px;
    size: flex;
    background-color: white;
    padding: 5px;
  }
  
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    size: flex;
    background-color: white;
    padding: 5px;
  }
  